:root {
  --greenshade1: #d4e9e2;
  --greenshade2: #006341;
  --greenshade3: #1e3932;
  --beige: #f2f0eb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 96%;
  margin: 4% auto;
}

/* Start of Header and Nav */
header {
  overflow: auto;
  box-shadow: 0 2px 15px #aaa;
  margin-bottom: 3px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

span.logo,
.icon-tray a svg {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  margin: 0;
  display: block;
}

.icon-tray a svg {
  display: inline;
}

span.hb-menu {
  display: block;
  font-size: 1.5rem;
  font-weight: 100;
  color: #666;
}

aside {
  display: none;
}

/* End of Header and Nav */

/* Start of hamburger menu */

.menu-wrapper {
  position: relative;
  border: 1px solid pink;
}

.menu-wrapper .toggler {
  position: absolute;
  width: 100%;

  z-index: 3;
  opacity: 0;
  zoom: 2;
  display: block;
}

.menu-wrapper .hb-menu {
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;

  position: relative;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hb-menu > div {
  width: 100%;
  height: 2px;
  background-color: #888;
}

.hb-menu > div::before,
.hb-menu > div::after {
  content: "";
  width: 100%;
  height: 2px;

  z-index: 1;
  position: absolute;
  top: 20%;

  background-color: inherit;
}

.hb-menu > div::after {
  top: -10%;
}

/* End of hamburger menu */

/* Animating menu */

.menu-wrapper .toggler:checked + .hb-menu > div {
  transform: rotate(135deg);
}

.menu-wrapper .toggler:checked + .hb-menu:before,
.menu-wrapper .toggler:checked + .hb-menu:after {
  top: 0;
  transform: rotate(90reg);
}
/* End of Animating menu */

/* Start of Body layout */

.sec {
  padding: 1rem;
  background-color: var(--greenshade1);
  color: var(--greenshade3);
  font-weight: 500;
  text-align: center;
  line-height: 1.6rem;
  font-size: 0.95rem;
}

.sec3,
.sec4,
.sec5 {
  background-color: var(--beige);
}

.sec a {
  color: var(--greenshade3);
}

.sec1 {
  color: var(--greenshade2);
  font-size: 1.2rem;
}

.sec1 .btn {
  color: var(--greenshade2);
  border-color: var(--greenshade2);
}

.sec2 h6,
.sec6 h6 {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1.2em auto;
}

.sec3 h6,
.sec4 h6,
.sec5 h6 {
  font-size: 1.5rem;
  margin: 1.2em auto;
}

.break {
  padding: 1rem;
  text-align: center;
}

.break h1 {
  margin: 2rem auto;
  color: var(--greenshade3);
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 3rem auto 1rem;
  color: var(--greenshade3);
  background-color: transparent;
  border: 1px solid var(--greenshade3);
  border-radius: 1.5rem;
}

.policy {
  font-size: 0.8rem;
}

.policy p:nth-child(1) {
  margin: 3rem auto 4rem;
}

.policy p:nth-child(2) {
  margin: 2rem auto;
}

.policy a {
  color: black;
}
/* End of Body layout */

/* Start of Footer */

.accordion .list-header {
  padding: 1rem;
  font-size: 0.95rem;
  font-weight: 400;
  display: block;
  cursor: pointer;
}

.accordion .list-header::after {
  font-family: FontAwesome;
  color: #888;
  content: "\f078";
  position: absolute;
  right: 2rem;
}

.accordion ul {
  list-style: none;
  display: none;
}

.accordion ul li {
  padding: 1rem;
  font-size: 0.8rem;
  color: #888;
}

.accordion ul.active {
  display: block;
}

.icon-tray ul {
  border-top: 1px solid #666;
  padding: 1.5rem 0 0;
  margin: 1rem;
}

.icon-tray li {
  display: inline;
}

.links {
  font-size: 0.8rem;
  text-decoration: none;
}

.links ul {
  list-style: none;
}

.links ul li {
  padding: 1rem;
}

.links ul li a {
  color: black;
  text-decoration: none;
}

footer p {
  font-size: 0.75rem;
  color: #666;
  padding: 1rem 0;
  text-align: center;
}
/* End of Footer */
